* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: linear-gradient(to right, #74edb5, #abc6e5);
  font-family: "Courier New", Courier, monospace;
}
/* Progress */
.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 4rem 1rem;
  counter-reset: step;
}
.progressbar::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: black;
  height: 4px;
  width: 100%;
}
.progress {
  background-color: rgb(21, 150, 21);
  width: 0%;
}
.progress-step {
  width: 35px;
  height: 35px;
  background-color: #dcdcdc;
  border-radius: 50%;
  border: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.progress-step::before {
  counter-increment: step;
  content: counter(step);
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 0.8rem;
  font-weight: bold;
  color: black;
}
.progress-step.active {
  background-color: rgb(21, 150, 21);
  color: rgb(255, 255, 255);
}
/* Form */
.form {
  width: 35vw;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 0.36rem;
  padding: 1.5rem;
  background-color: #ecf0f1;
  box-shadow: 2px 4px 11px -1px #000;
}
/* form display */
.form-step {
  display: none;
}
.form-step.active {
  display: block;
}
input {
  display: flex;
  padding: 0.75rem;
  justify-content: center;
  align-items: center;
}
.input-group {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 10px;
  border-radius: 0.35rem;
  background-color: white;
  margin-bottom: 8px;
}
.input-group:nth-child(1) {
  border-left: 4px solid rgb(36, 142, 248);
}
.input-group:nth-child(2) {
  border-left: 4px solid rgb(114, 18, 13);
}

.input-group:nth-child(3) {
  border-left: 4px solid rgb(208, 255, 80);
}
.input-group:nth-child(4) {
  border-left: 4px solid rgb(29, 125, 42);
}
.next-btn {
  display: flex;
  justify-content: end;
  align-items: center;
}
.btn {
  padding: 0.75rem;
  display: block;
  text-align: center;
  text-decoration: none;
  border-radius: 0.5rem;
  background-color: #191e44da;
  color: #ccc;
  font-size: 0.75rem;
  font-weight: bold;
  cursor: pointer;
}
