* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.robotContainer {
  height: 100vh;
  background-color: #1e1e1f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Bolb */
.bolb {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bolb-dot {
  height: 30px;
  width: 30px;
  background-color: #ffa500;
  border-radius: 50%;
}
.bolb-line {
  border: 4px solid #9bbcc2;
  height: 20px;
}
/* head */
.head {
  height: 150px;
  width: 150px;
  background-color: #a4d9eb;
  border: 5px solid #9bbcc2;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

/* Ears */
.head .left-ears,
.right-ears {
  height: 50px;
  width: 10px;
  background-color: #c90a0a;
  border-radius: 5px;
  position: absolute;
  top: 50px;
}
.left-ears {
  left: -15px;
}
.right-ears {
  right: -15px;
}
/* eyes */
.head .eyes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.eyes .left-eyes,
.right-eyes {
  height: 30px;
  width: 30px;
  background-color: white;
  border: 4px solid #00b3ff;
  border-radius: 70%;
}
/* nose */
.nose {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid #c90a0a;
}
/* mouth */
.mouth {
  height: 25px;
  width: 100px;
  background: #dedede;
  border: 1px solid black;
  border-top: #dedede !important;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mouth .teeth {
  width: 5px;
  background: black;
  height: 100%;
}
