* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(42, 60, 68);
  position: relative;
  z-index: 999;
}
.head {
  height: 200px;
  background-color: #ffc0cb;
  width: 200px;
  border-radius: 50%;
  border: 4px solid black;
}
/* Ears */
.ears {
  display: flex;
  position: absolute;
  z-index: -999;
  gap: 100px;
}

.left-ears,
.right-ears {
  height: 50px;
  width: 50px;
  background-color: #ffc0cb;
  border: 4px solid black;
  border-radius: 50%;
}
/* Eyes */
.eyes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}
.left-eyes {
  height: 50px;
  width: 50px;
  background-color: rgb(254, 254, 254);
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-eyes .left-eyes-dot {
  height: 25px;
  width: 25px;
  background-color: black;
  border-radius: 50%;
}
.right-eyes {
  height: 50px;
  width: 50px;
  background-color: rgb(254, 254, 254);
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-eyes .right-eyes-dot {
  height: 25px;
  width: 25px;
  background-color: black;
  border-radius: 50%;
}
/* nose */
.nose {
  height: 60px;
  width: 100px;
  background-color: #f57187;
  border: 4px solid black;
  margin: 20px auto;
  border-radius: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nose .left-nose-dot,
.right-nose-dot {
  height: 50%;
  width: 25%;
  border-radius: 50%;
  background-color: black;
}
